* {
    background-color: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
} 

.logoAlura {
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder {color: #0A3871;}
    .textarea:focus {
        outline: none;
    }

.mensagem {
    background-color: white;
    background-image: url(/images/figura.png);
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
}

.mensagem:focus {
    outline: none;
}

.informacao {
    font-size: 19px;
    color: #495057;
    align-items: center;
    margin-top: 90px;       
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn-encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}

.btn-desencriptar {
    background-color: #D8DFE8;
    border: 1px solid #D8DFE8;
    border-radius: 24px;
    width: 328px;
    height: 67px;
    color: #0A3871;
    cursor: pointer;
    font-size: 20px;
    margin-left: 30px;
}

.btn-copiar {
    background-color: white;
    border: 1px solid #0A3871;
    border-radius: 24px;
    width: 336px;
    height: 67px;
    color: #0A3871;
    cursor: pointer;
    font-size: 20px;
    margin-left: 108px;
    margin-top: 410px;
    position: absolute;
    
}
